trabajo_xml_clemente_juan_david/trabajo_xml_clemente_juan_david/colegio.dtd

<!ELEMENT instituto (cursos)>
<!ELEMENT cursos (curso+)>
<!ELEMENT curso (nombre, profesores, alumnos)>
<!ATTLIST curso id CDATA #REQUIRED>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT profesores (profesor+)>
<!ELEMENT profesor (nombre, edad)>
<!ATTLIST profesor id CDATA #REQUIRED>
<!ELEMENT alumnos (alumno+)>
<!ELEMENT alumno (nombre, edad)>
<!ATTLIST alumno id CDATA #REQUIRED>
<!ELEMENT edad (#PCDATA)>